NEXT_PUBLIC_SUPABASE_URL=https://aoqumxmnyyousbhscfob.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFvcXVteG1ueXlvdXNiaHNjZm9iIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTI5ODAzOTksImV4cCI6MjA2ODU1NjM5OX0.d4ykvY8UmFMvQSDTPZJyuIKdVd2l74oKhYftImkWjqA
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFvcXVteG1ueXlvdXNiaHNjZm9iIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1Mjk4MDM5OSwiZXhwIjoyMDY4NTU2Mzk5fQ.I341GXbh4Mr4jNp4gV2VcnMMI93RXOiefpLutZkZIvc
NEXT_PUBLIC_SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFvcXVteG1ueXlvdXNiaHNjZm9iIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1Mjk4MDM5OSwiZXhwIjoyMDY4NTU2Mzk5fQ.I341GXbh4Mr4jNp4gV2VcnMMI93RXOiefpLutZkZIvc
OPENPHONE_API_KEY=W2QIesNkJgNnsnsPca1MmaVFjtDUyQ6J
PERPLEXITY_API_KEY=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
MAX_CONVERSATIONS_PER_RUN=25
